/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logout {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: right;
}

header #logout:hover {
    background-color: #333;
    color: white;
}

.main-container {
    display: flex;
    height: 100vh;
}

aside {
    background-color: #333;
    color: white;
    width: 200px;
    min-height: 100vh;
    padding: 20px 10px;
}

.sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
}

.sidebar a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    resize: none;
}

.rating-stars {
    display: flex;
}

.star {
    font-size: 2rem;
    cursor: pointer;
    color: grey;
 }

.star.filled {
    color: yellow;
}

.genre {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    gap: 10px;
}

.genre input {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.genre span {
    margin-left: 10px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-cancel, .btn-save {
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.btn-save:hover {
    background-color: black;
    color: white;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + span {
    font-weight: bold;
    color: #333;
}

#poster-preview {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

#add-actor {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    border-radius: 5px;
}

#add-actor:hover {
    background-color: #333;
    color: white;
}

.aktor-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
  